@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

*{
   margin: 0; 
   padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif ;
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.6;
}

/* HEADER */

#showcase {
    background-image: url(https://cdn.pixabay.com/photo/2019/02/14/22/06/table-3997521_960_720.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
}

#showcase p {
    font-size: 20px;
    width: 70%;
}

#showcase .button {
    border: 2px solid #34495e;
    color: #34495e;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

/* SECTION */

#section-a {
    padding: 20px;
    background: #34495e;
    color: #ecf0f1;
    text-align: center;
}

#section-b {
    padding: 20px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

#section-c {
    display: flex;
    color: #34495e;
}

#section-c div {
    padding: 20px;
}

#section-c .box-a,
#section-c .box-c{
    background: #34495e;
    color: #ecf0f1;
}

#section-c .box-b {
    background: #bdc3c7;
}
