.navbar-brand {
    font-size: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
}

/* .navbar {
    opacity: 0.5;
} */

#about {
    margin-top: 110px;
}

.nl {
    font-size: 24px;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: black;
}

h3,
.gir {
    color: white;
    margin: auto;
}