body {
    font-family: 'Festive', cursive;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#333333, #dd1818);
}

h1 {
    font-size: 40px;
    padding: 10px;
    text-align: center;

}

h3 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: blanchedalmond;
}

p {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: blanchedalmond;
}